.display-apply{
    visibility: hidden;
}

.grid-container{
    display: grid;
    display: -ms-inline-grid; 
     grid-column-gap: 80px; 
     grid-row-gap: 60px; 
    grid-gap: 50px 100px;
    grid-template-columns: 120px 120px 120px 120px;
    background-color: maroon;
    padding: 190px;
    margin-bottom: 80px;
}

.grid-item{
    background-color: pink;
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.flex-container{
    display: flex;
    justify-content: baseline;
    justify-content: center; 
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
   justify-content: space-around; 
   justify-content: space-between; 
    /* justify-content: stretch; */
    align-items: baseline;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* flex-direction: row-reverse; */
    background-color: rgb(184, 119, 245);
    padding: 10px;
    width: 640px;
    height: 640px;
}

.flex-item{
    background-color: yellowgreen;
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.psu-test::first-letter {
    color: #f321f3;
    font-size: 100px;
    text-transform: capitalize;
}

.test-media {
    font-size: 100px;
}

@media only screen and (max-width:600px) {
    .test-media {font-size: 50px;}

    .psu-test::first-letter {
        color: lightyellow;
        font-size: 100px;
        text-transform: capitalize;
    }
}

@media only screen and (max-width:600px) {
    .psu-test::first-letter {
        color: chartreuse;
        font-size: 100px;
        text-transform: capitalize;
    }
}

/* extra small devices (phones, 600px and down) */
 /* @media only screen and (max-width:600px) {} */

/* small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width:600px) {} */

/* medium devices (portrait tablets,768px and up) */
/* @media only screen and (min-width:768px){} */

/* large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width:992px) {} */

/* extra large devices (large laptops and dsektops 1200px and up) */
/* @media only screen and (min-width:1200px) {} */