.display-apply{
    visibility: hidden;
}

.grid-container{
    display: grid;
    display: -ms-inline-grid; 
     grid-column-gap: 80px; 
     grid-row-gap: 60px; 
    grid-gap: 50px 100px;
    grid-template-columns: 120px 120px 120px 120px;
    background-color: maroon;
    padding: 190px;
    margin-bottom: 80px;
}

.grid-item{
    background-color: pink;
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.flex-container{
    display: flex;
    justify-content: baseline;
    justify-content: center; 
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
   justify-content: space-around; 
   justify-content: space-between; 
    /* justify-content: stretch; */
    align-items: baseline;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* flex-direction: row-reverse; */
    background-color: rgb(184, 119, 245);
    padding: 10px;
    width: 640px;
    height: 640px;
}

.flex-item{
    background-color: yellowgreen;
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}